# Project 4 -- Aarav Mohanty

## Question 1

In [ ]:
#Group the data by sex, then extract the age column and compute the average age at death for each sex.

In [3]:
import pandas as pd
myDF = pd.read_csv("/anvil/projects/tdm/data/death_records/DeathRecords.csv")
myDF.groupby("Sex")["Age"].mean()

Sex
F    76.676685
M    70.227858
Name: Age, dtype: float64

## Question 2

In [ ]:
# Group the data by product number, then extract the spend column and calculate the total spend for each product. Finally, retrieve the 10 products with the highest total spend using tail().

In [9]:
myDF = pd.read_csv("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")
myDF.columns = ["BASKET_NUM", "HSHD_NUM", "PURCHASE", "PRODUCT_NUM", "SPEND", "UNITS", "STORE_R", "WEEK_NUM", "YEAR"]

myDF.groupby("PRODUCT_NUM")["SPEND"].sum().sort_values().tail(10)

PRODUCT_NUM
89415       50032.42
8523        53845.65
1344763     58170.84
4889358     63823.61
85201       65605.34
766108      66085.00
74424       75787.49
85311      102928.59
1367192    111433.78
8511       131399.78
Name: SPEND, dtype: float64

## Question 3

In [ ]:
# Group the data by beer ID, then extract the scores column and compute the average score for each beer. Sort the results and retrieve the top 3 highest-rated beers using tail().

In [12]:
myDF = pd.read_csv("/anvil/projects/tdm/data/beer/reviews_sample.csv")
myDF.groupby("beer_id")["score"].mean().sort_values().tail(3)

beer_id
354440    5.0
133479    5.0
171630    5.0
Name: score, dtype: float64

## Question 4

In [ ]:
# Group the data by city-state pairs using "myDF['CITY'] + ', ' + myDF['STATE'], dropna=False" to include missing values. Extract the donations column, sum the donations for each city-state pair, and retrieve the top 6 with the highest total donations.

In [13]:
myDF = pd.read_csv("/anvil/projects/tdm/data/election/itcont1980.txt", header=None, sep='|')
myDF.columns = ["CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID"]

myDF.groupby(myDF['CITY'] + ', ' + myDF['STATE'], dropna = False)["TRANSACTION_AMT"].sum().sort_values().tail(6)

WASHINGTON, DC      4273606
LOS ANGELES, CA     4569952
DALLAS, TX          4747262
HOUSTON, TX         7606806
NEW YORK, NY       11344277
NaN                18092711
Name: TRANSACTION_AMT, dtype: int64

## Question 5

In [ ]:
# Construct a string combining the month, day, and year with '/' separators to use as the groupby parameter. Group the data by this formatted date, extract departure delay values, compute the average departure delay for each date, sort the results, and retrieve the dates with the greatest average departure delays using tail().

In [15]:
myDF = pd.read_csv("/anvil/projects/tdm/data/flights/subset/1990.csv")

myDF.groupby(myDF['Month'].astype(str) + '/' + myDF['DayofMonth'].astype(str) + '/' + myDF['Year'].astype(str))["DepDelay"].mean().sort_values().tail(6)

12/20/1990    27.345403
2/15/1990     28.123023
2/16/1990     36.194221
12/28/1990    43.914432
12/22/1990    45.222249
12/21/1990    45.661782
Name: DepDelay, dtype: float64

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.